


h1,
h2,
h3,
h4,
h5,
h6,
p {
margin: 0;

}

ul,
ol{
padding-left: 0;
margin: 0;
list-style: none;
}











img {
  display: block;
  max-width: 100%;
  height: auto;
}






body{
background: #ffffff;

font-family:"Roboto",sans-serif;

color: #434455;
 
}






a{
text-decoration: none;}

/*--header--*/

.header-container {
width: 1158px;
 padding: 0 15px;
margin: 0 auto;
  

 }

      
 .nav-container{
  display: flex; 
   align-items: center;
    padding: 24px 0;
   }


.logoo{
font-family:"Raleway", sans-serif;
font-weight: 700 ;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase ;
color: #4d5ae5;
margin-right: 76px ;
width: 115px;
height: 24px;
}


 

 
.logo-studion{
color: #2e2f42 ;

}

.header-menu-list{
display: flex;
gap:40px;

 
}

.container{
width: 1158px;
padding: 0 15px;
margin: 0 auto;

 }


 .header-container{
 display: flex;
 align-items: center;
 }
 



.header-address{
font-style: normal;
display: flex;
align-items: center;

}

.header-menu-link{
 color: #404bbf;
 position: relative; 

}

.header-nav-menu-link{
font-weight: 500;
font-size: 16px;
line-height: 1.5 ;
letter-spacing: 0.02em;
color: #2e2f42;
 padding: 24px 0;
 position: relative;
 

 
}

.header-nav-menu-link:hover,
.header-nav-menu-link:focus{
color: #404bbf;
}

.header-address{
 font-style: normal;
 margin-left: auto;

}

.address-list{
display: flex;
gap: 40px;

}
 
 .header-address-contakt{
 gap: 40px;
 display: flex;
 }

.header-address-item{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
 padding: 24px 0;


   }

.header-address-item:focus{
color: #404bbf;
text-decoration: underline;}

.header-address-item:hover{
color: #404bbf;
}

.header{
border-bottom: 1px solid #e7e9fc;
 box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}  



/*--section--1*/ 




  

.box-hero-image{
background-color:#2e2f42;
padding: 188px 0;

}



.hero-image{
color: #D9D9D9;
text-align: center;
font-family: "Robota"sans-serif;
font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: 60px; 
letter-spacing: 1.12px;
max-width: 496px;
display: block;
margin-left: auto;
margin-right: auto;
margin-bottom: 48px;
}


.solution-btn{
background-color: #4d5ae5;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #ffffff;
cursor: pointer;
border-radius: 4px;
margin: auto;
display: block;
min-width: 169px;
height: 56px;
border: none;
padding: 16px 32px;
}

.solution-btn:focus,
.solution-btn:hover{
background-color: #404bbf;}


      



 /*--section--2*/ 
.aboutus{
padding: 120px 0;
gap: 24px;
}
 

.aboutus-item{
width: calc((100% - 72px) / 4);

}

.icon-aboutus{
border: 1px solid #8e8f99;
border-radius: 4px;
background-color: #F4F4FD;
width: 264px;
height: 112px;
flex-shrink: 0;
}


 .aboutus-list{    
display: flex;
gap: 24px;
 }
 
.aboutus-subtittle{
font-weight:500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
 text-align: left

}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.aboutus-text{
font-size: 16px;
  line-height: 1.5;
   letter-spacing: 0.02em;
   color: #434455 ;
   text-align: left;


}










/*--section--3*/ 

.ourteam{
background-color: #F4F4FD ;
 padding: 120px 0;

}


.ourteam-list{
gap: 24px;
display: flex;
}




.ourteam-title{
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 72px; 
}


.ourteam-item-text{
line-height:1.5;
letter-spacing: 0.02em;
text-align: center;

}

.ourteam-item{
background-color: #ffffff;
width: calc((100% - 72px) / 4);
 border-radius: 0px 0px 4px 4px; 
 }

.ourteam-item-img{
border-radius: 0px 0px 4px 4px;
gap: 24px;

}

.ourteam-subtitle{
font-weight:500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
display: block;
text-align: center;
margin-bottom: 8px;

}

.container-atem{
 padding: 32px 0;
}
.icon-item{
background-color: #4D5AE5;
border-radius: 50px; 
width: 40px;
height: 40px;
padding: 12px;

}


 /*--section--4*/ 

  .portfolio{
  padding: 120px 0px 120px 0px;
  }
.container-portfolio{
width: 1128px;
height: 1000px;
}

.portfolio-list{
text-align: center;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2e2f42;
margin-bottom: 72px;
}

.portfolio-title{
display: flex;
flex-wrap: wrap;
gap: 24px;
row-gap: 48px;


}


.portfolio-item-title{
font-weight:500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2e2f42;
margin-bottom: 8px;

}



.portfolio-item-text{
line-height: 1.5;
letter-spacing: 0.02em;

}

.portfolio-item{
width: calc((100% - 48px) / 3);display: block;

}

.name-app{
padding: 32px 16px;
 border: 1px solid #e7e9fc;
  border-top: none;
  

}





/*--footer--*/ 



.footer{

background-color: #2e2f42;
padding: 100px 0;
}


.footer-text{
line-height: 1.5;
color:  #F4F4FD;
letter-spacing: 0.02em;
background-color: #2e2f42;
max-width: 264px;


}
.logo{
font-family: "Raleway",sans-serif;
font-weight: 700 ;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase ;
color: #4d5ae5; 
 margin-bottom: 16px;
 display: inline-block;

}

.logo-studio{
color: #F4F4FD;

 
} 








 